@model Fashion.Models.Product 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="mt-main">
    <section class="mt-product-detial wow fadeInUp" data-wow-delay="0.4s">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="slider">
                        <div class="product-slider">
                            <div class="slide">
                                <img style="width:64%;margin:60px auto" src="@Model.Image" alt="image descrption">
                            </div>
                        </div>
                    </div>
                    <div class="detial-holder" style="padding:0px;padding-top:30px">
                        <ul class="list-unstyled breadcrumbs">
                            <li><a href="#">Sản phẩm quần <i class="fa fa-angle-right"></i></a></li>
                            <li>@Model.Name</li>
                        </ul>
                        <h2>@Model.Name</h2>
                        <div class="rank-rating" style="margin:0px">
                            <div class="txt-wrap" style="margin:0px;border-style:none;border-color:none;padding-bottom:16px">
                                <a target="_blank" href="~/Assets/images/size.jpg">(Hướng dẫn chọn size)</a>
                            </div>
                            <div class="form-group">
                                <label>Chọn kích cỡ sản phẩm</label>
                                <select class="form-control">
                                    @foreach (var item in Model.ProductOptions)
                                    {
                                        <option value="@item.SizeId">@item.SizeId</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Chọn màu sắc sản phẩm</label>
                                <select class="form-control">
                                    @foreach (var item in Model.ProductOptions)
                                    {
                                        <option value="@item.ColorId">@item.ColorId</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="text-holder" style="margin:0px">
                            Đơn giá :
                            <span class="price">@Model.PromotionPrice VNĐ<del>@Model.Price VNĐ</del></span>
                        </div>
                        <!-- Rank Rating of the Page end -->
                        <div class="txt-wrap" style="margin:0px;border-style:none;border-color:none">
                            <p style="margin:10px 0px">@Model.Description.</p>
                        </div>
                        <!-- Rank Rating of the Page-->
                        <div class="txt-wrap" style="margin:0px;border-style:none;border-color:none">
                            <div>
                                <img src="~/Assets/images/qr/qr.png" style="width:160px;margin-bottom:10px" alt="Qr code info product" />
                            </div>
                            <div>
                                <h5>(Quét mã QR Code này đễ dễ dàng hiển thị thông tin sản phẩm bằng điện thoại)</h5>
                            </div>
                        </div>
                        <form action="#" class="product-form">
                            <fieldset>
                                <div class="row-val">
                                    <button type="submit">THÊM VÀO GIỎ</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- Mt Product Detial of the Page end -->
    <div class="product-detail-tab wow fadeInUp" data-wow-delay="0.4s">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="mt-tabs text-center text-uppercase">
                        <li><a href="#tab1" class="active">CHI TIẾT</a></li>
                        <li><a href="#tab2">NHẬN XÉT (12)</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab1">
                            <p>@Html.Raw(Model.Content)</p>
                        </div>
                        <div id="tab2">
                            <div class="product-comment">
                                <div class="mt-box">
                                    <div class="mt-hold">
                                        <span class="name">John Wick</span>
                                        <time datetime="2016-01-01">09:10 Nov, 19 2016</time>
                                    </div>
                                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit sse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>
                                </div>
                                <form action="#" class="p-commentform">
                                    <fieldset>
                                        <h2>Thêm nhận xét</h2>
                                        <div class="mt-row">
                                            <label>Tên</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="mt-row">
                                            <label>Nhận xét</label>
                                            <textarea class="form-control"></textarea>
                                        </div>
                                        <button type="submit" class="btn-type4">THÊM NHẬN XÉT</button>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- related products start here -->
    <div class="related-products wow fadeInUp" data-wow-delay="0.4s">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>SẢN PHẨM LIÊN QUAN</h2>
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- mt product1 center start here -->
                            <div class="mt-product1 mt-paddingbottom20">
                                <div class="box">
                                    <div class="b1">
                                        <div class="b2">
                                            <a href="/product/index"><img src="~/Assets/images/products/img01.jpg" alt="image description"></a>
                                            <ul class="links">
                                                <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="txt">
                                    <strong class="title"><a href="/product/index">Puff Chair</a></strong>
                                    <span class="price"><i class="fa fa-eur"></i> <span>287,00</span></span>
                                </div>
                            </div><!-- mt product1 center end here -->
                            <!-- mt product1 center start here -->
                            <div class="mt-product1 mt-paddingbottom20">
                                <div class="box">
                                    <div class="b1">
                                        <div class="b2">
                                            <a href="/product/index"><img src="~/Assets/images/products/img02.jpg" alt="image description"></a>
                                            <ul class="links">
                                                <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                <li><a href="#"><i class="icomoon icon-exchange"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="txt">
                                    <strong class="title"><a href="/product/index">Bombi Chair</a></strong>
                                    <span class="price"><i class="fa fa-eur"></i> <span>399,00</span></span>
                                </div>
                            </div><!-- mt product1 center end here -->
                            <!-- mt product1 center start here -->
                            <div class="mt-product1 mt-paddingbottom20">
                                <div class="box">
                                    <div class="b1">
                                        <div class="b2">
                                            <a href="/product/index"><img src="~/Assets/images/products/img03.jpg" alt="image description"></a>
                                            <ul class="links">
                                                <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                <li><a href="#"><i class="icomoon icon-exchange"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="txt">
                                    <strong class="title"><a href="/product/index">Wood Chair</a></strong>
                                    <span class="price"><i class="fa fa-eur"></i> <span>198,00</span></span>
                                </div>
                            </div><!-- mt product1 center end here -->
                            <!-- mt product1 center start here -->
                            <div class="mt-product1 mt-paddingbottom20">
                                <div class="box">
                                    <div class="b1">
                                        <div class="b2">
                                            <a href="/product/index"><img src="~/Assets/images/products/img04.jpg" alt="image description"></a>
                                            <span class="caption">
                                                <span class="off">15% Off</span>
                                                <span class="new">NEW</span>
                                            </span>
                                            <ul class="mt-stars">
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                            </ul>
                                            <ul class="links">
                                                <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                <li><a href="#"><i class="icomoon icon-exchange"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="txt">
                                    <strong class="title"><a href="/product/index">Bombi Chair</a></strong>
                                    <span class="price"><i class="fa fa-eur"></i> <span>200,00</span></span>
                                </div>
                            </div><!-- mt product1 center end here -->
                            <!-- mt product1 center start here -->
                            <div class="mt-product1 mt-paddingbottom20">
                                <div class="box">
                                    <div class="b1">
                                        <div class="b2">
                                            <a href="/product/index"><img src="~/Assets/images/products/img05.jpg" alt="image description"></a>
                                            <ul class="links">
                                                <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                <li><a href="#"><i class="icomoon icon-exchange"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="txt">
                                    <strong class="title"><a href="/product/index">Bombi Chair</a></strong>
                                    <span class="price"><i class="fa fa-eur"></i> <span>200,00</span></span>
                                </div>
                            </div><!-- mt product1 center end here -->
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- related products end here -->
    </div>
</main>
