@model IEnumerable<Fashion.Models.Product>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    var categories = (List<Fashion.Models.Category>)ViewBag.Categories;
    var products = (List<Fashion.Models.Product>)ViewBag.Products;
}
<main id="mt-main">
    <!-- Mt Contact Banner of the Page -->
    <section class="mt-contact-banner style4" style="background-image: url(assets/images/img11.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>Sản phẩm</h1>
                    <!-- Breadcrumbs of the Page -->
                    <nav class="breadcrumbs">
                        <ul class="list-unstyled">
                            <li><a href="#">Trang chủ <i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#">Danh sách sản phẩm</a></li>
                        </ul>
                    </nav><!-- Breadcrumbs of the Page end -->
                </div>
            </div>
        </div>
    </section><!-- Mt Contact Banner of the Page end -->
    <div class="container">
        <div class="row">
            <!-- sidebar of the Page start here -->
            <aside id="sidebar" class="col-xs-12 col-sm-4 col-md-3 wow fadeInLeft" data-wow-delay="0.4s">
                <!-- shop-widget filter-widget of the Page start here -->
                <section class="shop-widget">
                    <h2>Danh mục</h2>
                    <!-- category list start here -->
                    <ul class="list-unstyled category-list">
                        @foreach (var item in categories)
                        {
                            <li>
                                <a href="/Product/List/@item.ID">
                                    <span>@item.Name</span>
                                    <span class="num">20</span>
                                </a>
                            </li>
                        }
                    </ul><!-- category list end here -->
                </section><!-- shop-widget of the Page end here -->
                <!-- shop-widget of the Page start here -->
                <section class="shop-widget">
                    <h2>Giảm giá (HOT)</h2>
                    @foreach (var item in products)
                    {
                        <div class="mt-product4 mt-paddingbottom20">
                            <div class="img">
                                <a href="/product/index/@item.ID"><img src="@item.Image" alt="image description"></a>
                            </div>
                            <div class="text">
                                <div class="frame">
                                    <strong><a href="/product/index/@item.ID">@item.Name</a></strong>
                                </div>
                                <del class="off">@item.Price VNĐ</del>
                                <span class="price">@item.PromotionPrice VNĐ</span>
                            </div>
                        </div>
                    }
                </section>
            </aside><!-- sidebar of the Page end here -->
            <div class="col-xs-12 col-sm-8 col-md-9 wow fadeInRight" data-wow-delay="0.4s">
                <!-- mt shoplist header start here -->
                <header class="mt-shoplist-header">
                    <!-- btn-box start here -->
                    <div class="btn-box">
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="drop-link">
                                    Sắp xếp <i aria-hidden="true" class="fa fa-angle-down"></i>
                                </a>
                                <div class="drop">
                                    <ul class="list-unstyled">
                                        <li><a href="#">Giá giảm</a></li>
                                        <li><a href="#">Giá tăng</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div><!-- btn-box end here -->
                </header><!-- mt shoplist header end here -->
                <!-- mt productlisthold start here -->
                <ul class="mt-productlisthold list-inline">
                    @foreach (var item in Model)
                    {
                        <li>
                            <div class="mt-product1 large">
                                <div class="box">
                                    <div class="b1">
                                        <div class="b2">
                                            <a href="/product/index/@item.ID"><img src="@item.Image" alt="image description"></a>
                                            <ul class="links">
                                                <li><a href="#"><i class="icon-handbag"></i><span>Thêm giỏ hàng</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="txt">
                                    <strong class="title"><a href="/product/index/@item.ID">@item.Name</a></strong>
                                    <span class="price"><span>@(item.ActivePromotion == true ? item.PromotionPrice : item.Price)</span> VNĐ</span>
                                </div>
                            </div>
                        </li>
                    }
                </ul><!-- mt productlisthold end here -->
                <!-- mt pagination start here -->
                <nav class="mt-pagination">
                    <ul class="list-inline">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                    </ul>
                </nav><!-- mt pagination end here -->
            </div>
        </div>
    </div>
</main>

