@model PagedList.IPagedList<Fashion.Models.Product>
@using PagedList.Mvc;

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Fashion.Models.FSDbContext db = new Fashion.Models.FSDbContext();
    var categories = (List<Fashion.Models.Category>)ViewBag.Categories;
    foreach (var item in categories)
    {
        item.Products = db.Products.Where(x => x.CategoryId == item.ID).ToList();
    }
    var products = (List<Fashion.Models.Product>)ViewBag.Products;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<main id="mt-main">
    <!-- Mt Contact Banner of the Page -->
    <section class="mt-contact-banner style4" style="background-image: url(/assets/images/img11.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>Sản phẩm</h1>
                    <!-- Breadcrumbs of the Page -->
                    <nav class="breadcrumbs">
                        <ul class="list-unstyled">
                            <li><a href="#">Trang chủ <i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#">Danh sách sản phẩm</a></li>
                        </ul>
                    </nav><!-- Breadcrumbs of the Page end -->
                </div>
            </div>
        </div>
    </section><!-- Mt Contact Banner of the Page end -->
    <div class="container">
        <div class="row">
            <!-- sidebar of the Page start here -->
            <aside id="sidebar" class="col-xs-12 col-sm-4 col-md-3 wow fadeInLeft" data-wow-delay="0.4s">
                <!-- shop-widget filter-widget of the Page start here -->
                <section class="shop-widget">
                    <h2>Danh mục</h2>
                    <!-- category list start here -->
                    <ul class="list-unstyled category-list">
                        @foreach (var item in categories)
                        {
                            <li>
                                <a href="/Product/List/@item.ID">
                                    <span>@item.Name</span>
                                    <span class="num">@item.Products.Count()</span>
                                </a>
                            </li>
                        }
                    </ul><!-- category list end here -->
                </section><!-- shop-widget of the Page end here -->
                <!-- shop-widget of the Page start here -->
                <section class="shop-widget">
                    <h2>Giảm giá (HOT)</h2>
                    @foreach (var item in products)
                    {
                        <div class="mt-product4 mt-paddingbottom20">
                            <div class="img">
                                <a href="san-pham-@item.Alias-@item.ID"><img src="@item.Image" alt="image description"></a>
                            </div>
                            <div class="text">
                                <div class="frame">
                                    <strong><a href="san-pham-@item.Alias-@item.ID">@item.Name</a></strong>
                                </div>
                                <del class="off">@item.Price VNĐ</del>
                                <span class="price">@item.PromotionPrice VNĐ</span>
                            </div>
                        </div>
                    }
                </section>
            </aside><!-- sidebar of the Page end here -->
            <div class="col-xs-12 col-sm-8 col-md-9 wow fadeInRight" data-wow-delay="0.4s">
                <!-- mt shoplist header start here -->
                <header class="mt-shoplist-header">
                    <!-- btn-box start here -->
                    <div class="btn-box">
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="drop-link">
                                    Sắp xếp <i aria-hidden="true" class="fa fa-angle-down"></i>
                                </a>
                                <div class="drop">
                                    <ul class="list-unstyled">
                                        <li><a href="/product/list?id=@products.FirstOrDefault().CategoryId&type=giam">Giá giảm</a></li>
                                        <li><a href="/product/list?id=@products.FirstOrDefault().CategoryId&type=tang">Giá tăng</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div><!-- btn-box end here -->
                </header><!-- mt shoplist header end here -->
                <!-- mt productlisthold start here -->
                <ul class="mt-productlisthold list-inline">
                    @foreach (var item in Model)
                    {
                        <li>
                            <div class="mt-product1 large">
                                <div class="box">
                                    <div class="b1">
                                        <div class="b2">
                                            <a href="san-pham-@item.Alias-@item.ID"><img src="@item.Image" alt="image description"></a>
                                            <ul class="links">
                                                <li><a href="#"><i class="icon-handbag"></i><span>Thêm giỏ hàng</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="txt">
                                    <strong class="title"><a href="san-pham-@item.Alias-@item.ID">@item.Name</a></strong>
                                    @if (item.ActivePromotion == true)
                                    {
                                        <div>
                                            <del class="off">@item.Price VNĐ</del>
                                            <span class="price">@item.PromotionPrice VNĐ</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <span class="price">@item.Price VNĐ</span>
                                    }
                                </div>
                            </div>
                        </li>
                    }
                </ul><!-- mt productlisthold end here -->
                <!-- mt pagination start here -->
                
                <div class="row">
                    <div class="col-sm-12">
                        @{ if (Model.PageCount > 1)
                            {
                                <nav aria-label="Page navigation example" style="text-align:center">
                                    @Html.PagedListPager(Model, page => Url.Action("List", new { page, @id = @ViewBag.Id, @type = ViewBag.Type }))
                                </nav>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

