@model Fashion.ViewModel.ProductViewModel
@{
    ViewBag.Title = "Home Page";
}
@Html.Partial("_Slide")
<main id="mt-main">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="mt-producttabs wow fadeInUp" data-wow-delay="0.4s">
                    <!-- producttabs start here -->
                    <ul class="producttabs" style="margin-bottom:16px">
                        <li><a href="#tab1" class="active">Mới</a></li>
                        <li><a href="#tab2">Nổi bật</a></li>
                        <li><a href="#tab3">Khuyến mãi</a></li>
                    </ul>
                    <!-- producttabs end here -->
                    <div class="tab-content text-center">
                        <div id="tab1">
                            <!-- tabs slider start here -->
                            <div class="tabs-slider">
                                <!-- slide start here -->
                                @{
                                    for (int i = 1; i <= Model.ProductNews.Count() / 2; i++)
                                    {
                                        var list = Model.ProductNews.Skip((i - 1) * 2).Take(2);
                                        <div class="slide">
                                            @foreach (var item in list)
                                            {
                                                <div class="mt-product1 mt-paddingbottom20">
                                                    <div class="box">
                                                        <div class="b1">
                                                            <div class="b2">
                                                                <a href="/product/index/@item.ID"><img src="@item.Image" alt="image description"></a>
                                                                <span class="caption">
                                                                    <span class="new">Mới</span>
                                                                </span>
                                                                <ul class="links">
                                                                    <li><a href="/product/index/@item.ID"><i class="icon-handbag"></i><span>Thêm giỏ hàng</span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="txt">
                                                        <strong class="title"><a href="/product/index/@item.ID">@item.Name</a></strong>
                                                        @if (item.ActivePromotion == true)
                                                        {
                                                            <div style="display:flex;justify-content:space-around">
                                                                <del class="off">@item.Price VNĐ</del>
                                                                <span class="price">@item.PromotionPrice VNĐ</span>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <span class="price">@item.Price VNĐ</span>
                                                        }
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    }
                                }
                            </div>
                            <!-- tabs slider end here -->
                        </div>
                        <div id="tab2">
                            <!-- tabs slider start here -->
                            <div class="tabs-slider">
                                <!-- slide start here -->
                                @{
                                    for (int i = 1; i <= Model.ProductHots.Count() / 2; i++)
                                    {
                                        var list = Model.ProductHots.Skip((i - 1) * 2).Take(2);
                                        <div class="slide">
                                            @foreach (var item in list)
                                            {
                                                <div class="mt-product1 mt-paddingbottom20">
                                                    <div class="box">
                                                        <div class="b1">
                                                            <div class="b2">
                                                                <a href="/product/index/@item.ID"><img src="@item.Image" alt="image description"></a>
                                                                <span class="caption">
                                                                    <span class="best-price">Nổi bật</span>
                                                                </span>
                                                                <ul class="links">
                                                                    <li><a href="/product/index/@item.ID"><i class="icon-handbag"></i><span>Thêm giỏ hàng</span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="txt">
                                                        <strong class="title"><a href="/product/index/@item.ID">@item.Name</a></strong>
                                                        @if (item.ActivePromotion == true)
                                                        {
                                                            <div style="display:flex;justify-content:space-around">
                                                                <del class="off">@item.Price VNĐ</del>
                                                                <span class="price">@item.PromotionPrice VNĐ</span>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <span class="price">@item.Price VNĐ</span>
                                                        }
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    }
                                }                               
                            </div>
                            <!-- tabs slider end here -->
                        </div>
                        <div id="tab3">
                            <!-- tabs slider start here -->
                            <div class="tabs-slider">
                                @{
                                    for (int i = 1; i <= Model.ProductPromotions.Count() / 2; i++)
                                    {
                                        var list = Model.ProductPromotions.Skip((i - 1) * 2).Take(2);
                                        <div class="slide">
                                            @foreach (var item in list)
                                            {
                                                <div class="mt-product1 mt-paddingbottom20">
                                                    <div class="box">
                                                        <div class="b1">
                                                            <div class="b2">
                                                                <a href="/product/index/@item.ID"><img src="@item.Image" alt="image description"></a>
                                                                <span class="caption">
                                                                    <span class="best-price">Khuyến mãi</span>
                                                                </span>
                                                                <ul class="links">
                                                                    <li><a href="/product/index/@item.ID"><i class="icon-handbag"></i><span>Thêm giỏ hàng</span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="txt">
                                                        <strong class="title"><a href="/product/index/@item.ID">@item.Name</a></strong>
                                                        @if (item.ActivePromotion == true)
                                                        {
                                                            <div style="display:flex;justify-content:space-around">
                                                                <del class="off">@item.Price VNĐ</del>
                                                                <span class="price">@item.PromotionPrice VNĐ</span>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <span class="price">@item.Price VNĐ</span>
                                                        }
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    }
                                }
                            </div>
                            <!-- tabs slider end here -->
                        </div>
                    </div>
                </div>
                <!-- mt producttabs end here -->
            </div>
        </div>
    </div>
    <!-- mt bestseller start here -->
    <div class="mt-bestseller bg-grey text-center wow fadeInUp" data-wow-delay="0.4s">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 mt-heading text-uppercase">
                    <h2 class="heading">SIÊU KHUYẾN MÃI</h2>
                    <p>Nhanh tay mua sắm</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="bestseller-slider">
                        @foreach (var item in Model.ProductPromotions.Take(4))
                        {
                            <div class="slide">
                                <div class="mt-product1 large">
                                    <div class="box">
                                        <div class="b1">
                                            <div class="b2">
                                                <a href="/product/index/@item.ID"><img src="@item.Image" alt="image description"></a>
                                                <span class="caption">
                                                    <span class="best-price">Khuyến mãi</span>
                                                </span>
                                                <ul class="links add">
                                                    <li><a href="#"><i class="icon-handbag"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="txt">
                                        <strong class="title"><a href="/product/index/@item.ID">@item.Name</a></strong>
                                        @if (item.ActivePromotion == true)
                                        {
                                            <div style="display:flex;justify-content:space-around">
                                                <del class="off">@item.Price VNĐ</del>
                                                <span class="price">@item.PromotionPrice VNĐ</span>
                                            </div>
                                        }
                                        else
                                        {
                                            <span class="price">@item.Price VNĐ</span>
                                        }
                                    </div>
                                </div><!-- mt product1 center end here -->
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mt bestseller start here -->
    <div class="mt-smallproducts">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 mt-paddingbottomsm wow fadeInLeft" data-wow-delay="0.4s">
                    <h3 class="heading">Giá cao nhất</h3>
                    @foreach (var item in Model.ProductPriceTop.Take(4))
                    {
                        <div class="mt-product4 mt-paddingbottom20">
                            <div class="img">
                                <a href="/product/index/@item.ID"><img alt="image description" src="@item.Image"></a>
                            </div>
                            <div class="text">
                                <div class="frame">
                                    <strong><a href="/product/index/@item.ID">@item.Name</a></strong>
                                </div>
                                <span class="price">@item.Price VNĐ</span>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mt-paddingbottomsm wow fadeInLeft" data-wow-delay="0.4s">
                    <h3 class="heading">Giá thấp nhất</h3>
                    @foreach (var item in Model.ProductPriceBot.Take(4))
                    {
                        <div class="mt-product4 mt-paddingbottom20">
                            <div class="img">
                                <a href="/product/index/@item.ID"><img alt="image description" src="@item.Image"></a>
                            </div>
                            <div class="text">
                                <div class="frame">
                                    <strong><a href="/product/index/@item.ID">@item.Name</a></strong>
                                </div>
                                <span class="price">@item.Price VNĐ</span>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mt-paddingbottomxs wow fadeInRight" data-wow-delay="0.4s">
                    <h3 class="heading">Mới ra</h3>
                    @foreach (var item in Model.ProductNews.Take(4))
                    {
                        <div class="mt-product4 mt-paddingbottom20">
                            <div class="img">
                                <a href="/product/index/@item.ID"><img alt="image description" src="@item.Image"></a>
                            </div>
                            <div class="text">
                                <div class="frame">
                                    <strong><a href="/product/index/@item.ID">@item.Name</a></strong>
                                </div>
                                <span class="price">@item.Price VNĐ</span>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInRight" data-wow-delay="0.4s">
                    <h3 class="heading">Nổi bật</h3>
                    @foreach (var item in Model.ProductHots.Take(4))
                    {
                        <div class="mt-product4 mt-paddingbottom20">
                            <div class="img">
                                <a href="/product/index/@item.ID"><img alt="image description" src="@item.Image"></a>
                            </div>
                            <div class="text">
                                <div class="frame">
                                    <strong><a href="/product/index/@item.ID">@item.Name</a></strong>
                                </div>
                                <span class="price">@item.Price VNĐ</span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div><!-- mt bestseller end here -->
</main>