@model IEnumerable<Fashion.ViewModel.CartViewModel>
@{
    ViewBag.Title = "ViewCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="mt-main">
    <section class="mt-contact-banner mt-banner-22" style="background-image: url(/assets/images/img-76.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-center">Giỏ hàng</h1>
                    <!-- Breadcrumbs of the Page -->
                    <nav class="breadcrumbs">
                        <ul class="list-unstyled">
                            <li><a href="/">Trang chủ <i class="fa fa-angle-right"></i></a></li>
                            <li>Giỏ hàng</li>
                        </ul>
                    </nav>
                    <!-- Breadcrumbs of the Page end -->
                </div>
            </div>
        </div>
    </section>
    <!-- Mt Process Section of the Page -->
    <div class="mt-process-sec">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="list-unstyled process-list">
                        <li class="active">
                            <span class="counter">01</span>
                            <strong class="title">Giỏ hàng</strong>
                        </li>
                        <li>
                            <span class="counter">02</span>
                            <strong class="title">Thanh toán</strong>
                        </li>
                        <li>
                            <span class="counter">03</span>
                            <strong class="title">Thành công</strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- Mt Process Section of the Page end -->
    <!-- Mt Product Table of the Page -->
    <div class="mt-product-table">
        @if (Model == null)
        {
            <h3 style="text-align:center">Giỏ hàng đang trống. Vui lòng quay lại <a style="color:red" href="/">trang chủ</a> để mua hàng.</h3>
        }
        else
        {
            <div class="container">
                <button type="button" style="background-color:green;color:white;margin-bottom:16px;height:42px;width:160px;border:none;cursor:pointer;font-size:16px;font-weight:600">Lưu cập nhật</button>
                <a href="/cart/removeall" style="margin-left:10px;color:red;margin-bottom:16px;cursor:pointer;font-size:16px;font-weight:600">Xóa tất cả giỏ hàng</a>
                <div class="row border">
                    <div class="col-xs-12 col-sm-2">
                        <strong class="title">HÌNH ẢNH</strong>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <strong class="title">TÊN SẢN PHẨM</strong>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <strong class="title">THÔNG TIN</strong>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <strong class="title">GIÁ</strong>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <strong class="title">SỐ LƯỢNG</strong>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <strong class="title">TỔNG CỘNG</strong>
                    </div>
                </div>
                @foreach (var item in Model)
                {
                    var total = item.Price * item.Quantity;
                    <div class="row border">
                        <div class="col-xs-12 col-sm-2">
                            <div class="img-holder">
                                <img src="@item.Image" alt="image description">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <strong class="product-name">@item.Name</strong>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <strong class="product-name">Kích cỡ : @item.SizeName, Màu sắc : @item.ColorName</strong>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <strong class="price"> @item.Price VNĐ</strong>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <input type="number" style="margin-top:70px;width:42%" value="@item.Quantity" required class="form-control" />
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <strong class="price"> @total  VNĐ</strong>
                            <a href="/cart/removeitem?pId=@item.ProductID&sId=@item.SizeId&cId=@item.ColorId"><i class="fa fa-close"></i></a>
                        </div>
                    </div>
                }

                <div class="row">
                    <div class="col-xs-12">
                        <form action="#" class="coupon-form">
                            <fieldset>
                                <div class="mt-holder">
                                    <input type="text" class="form-control" placeholder="Mã giảm giá">
                                    <button type="submit">ÁP DỤNG</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div><!-- Mt Product Table of the Page end -->
    <!-- Mt Detail Section of the Page -->
    @if (Model != null)
    {
        <section class="mt-detail-sec style1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <h2>TỔNG GIỎ HÀNG</h2>
                        <ul class="list-unstyled block cart">
                            <li>
                                <div class="txt-holder">
                                    <strong class="title sub-title pull-left">Tổng hóa đơn</strong>
                                    <div class="txt pull-right">
                                        <span><i class="fa fa-eur"></i> 1299,00</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="txt-holder">
                                    <strong class="title sub-title pull-left">Mã giảm giá</strong>
                                    <div class="txt pull-right">
                                        <span>30%</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="txt-holder">
                                    <strong class="title sub-title pull-left">Phí vận chuyển</strong>
                                    <div class="txt pull-right">
                                        <span>Miễn phí</span>
                                    </div>
                                </div>
                            </li>
                            <li style="border-bottom: none;">
                                <div class="txt-holder">
                                    <strong class="title sub-title pull-left">Thành tiền</strong>
                                    <div class="txt pull-right">
                                        <span><i class="fa fa-eur"></i> 899,00</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a href="#" class="process-btn">TIẾN HÀNH THANH TOÁN <i class="fa fa-check"></i></a>
                    </div>
                </div>
            </div>
        </section>
    }
    <!-- Mt Detail Section of the Page end -->
</main>
