@model IEnumerable<Fashion.Models.Product>
@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_MessageAlert")
<script src="~/Areas/Admin/Assets/bower_components/jquery/dist/jquery.min.js"></script>
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true,
            "autoWidth": false,
            language: {
                url: '//cdn.datatables.net/plug-ins/1.10.24/i18n/Vietnamese.json'
            },
            "ordering": false
        });
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": false,
            "info": true,
            "autoWidth": false,
            "responsive": true
        });
    });</script>
<section class="content-header">
    <h1>
        QUẢN LÝ
        <small>SẢN PHẨM</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Admin/Home"><i class="fa fa-dashboard"></i> Trang chính</a></li>
        <li class="active">Sản phẩm</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Danh sách sản phẩm</h3>
                    <a href="/admin/ProductAdmin/create" style="margin-right:10px;position:absolute;right:0" class="btn btn-success"><i class="fa fa-fw fa-plus"></i>Thêm mới</a>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Tên sản phẩm</th>
                                <th>Hình ảnh</th>
                                <th>Giá nhập</th>
                                <th>Đơn giá</th>
                                <th>Giá khuyến mại</th>
                                <th>Mở khuyến mại</th>
                                <th>Hot</th>
                                <th>Ẩn/Hiện</th>
                                <th style="width:10%">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>@item.Name</td>
                                    <td>
                                        <img src="@item.Image" style="width:100px;height:80px" alt="Alternate Text" />
                                    </td>
                                    <td>@item.OriginalPrice</td>
                                    <td>@item.Price</td>
                                    <td>@item.PromotionPrice</td>
                                    <td>
                                        <input type="checkbox" onclick="changePromotion(this)" id="@item.ID" @(item.ActivePromotion == true ? "checked" : "") />
                                    </td>
                                    <td>
                                        <input type="checkbox" onclick="changeHot(this)" id="@item.ID" @(item.HotFlag == true ? "checked" : "") />
                                    </td>
                                    <td>
                                        <input type="checkbox" onclick="changeShow(this)" id="@item.ID" @(item.Status == true ? "checked" : "") />
                                    </td>
                                    <td class="text-center">
                                        <a onclick="viewDetail(this)" id="@item.ID" data-toggle="modal" data-target="#myModal1">
                                            <i style="color:gray" class="fa fa-fw fa-eye"></i>
                                        </a>
                                        <a onclick="deleteConfirm(this)" id="@item.ID" data-toggle="modal" data-target="#myModal">
                                            <i style="color:red" class="fa fa-fw fa-trash"></i>
                                        </a>
                                        <a href="/admin/ProductAdmin/update/@item.ID">
                                            <i style="color:green" class="fa fa-fw fa-pencil"></i>
                                        </a>
                                        <a href="/admin/productoptionadmin/index/@item.ID">
                                            <i style="color:blue" class="fa fa-fw fa-info-circle"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Tên sản phẩm</th>
                                <th>Hình ảnh</th>
                                <th>Đơn giá</th>
                                <th>Giá khuyến mại</th>
                                <th>Mở khuyến mại</th>
                                <th>Hot</th>
                                <th>Ẩn/Hiện</th>
                                <th style="width:10%">Thao tác</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Bạn đang yêu cầu xóa dữ liệu</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                Bạn có thật sự muốn xóa dữ liệu này ?
            </div>
            <div class="modal-footer">
                <button type="button" id="deleteBtn" class="btn btn-danger" data-dismiss="modal">Xóa</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>

    </div>
</div>
<script>
    var idx;
    var st;
    var deleteConfirm = function (xthis) {
        xid = xthis.id;
    }
    $('#deleteBtn').click(function () {
        $.ajax({
            type: "POST",
            url: '/Admin/productadmin/delete',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ id: xid }),
            dataType: "json",
            success: function (res) {
                location.reload();

            }
        });
    })
    function changeShow(xthis) {
        var xid = xthis.id;
        var st = xthis.checked ? true : false;
        $.ajax({
            type: "POST",
            url: '/Admin/ProductAdmin/changeshow',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ id: xid, status: st }),
            dataType: "json",
            success: function (res) {
                location.reload();

            }
        });
    }
    function changePromotion(xthis) {
        var xid = xthis.id;
        var st = xthis.checked ? true : false;
        $.ajax({
            type: "POST",
            url: '/Admin/ProductAdmin/changepromotion',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ id: xid, status: st }),
            dataType: "json",
            success: function (res) {
                location.reload();

            }
        });
    }
    function changeHot(xthis) {
        var xid = xthis.id;
        var st = xthis.checked ? true : false;
        $.ajax({
            type: "POST",
            url: '/Admin/ProductAdmin/changehot',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ id: xid, status: st }),
            dataType: "json",
            success: function (res) {
                location.reload();

            }
        });
    }
</script>